<form [formGroup]="form">
  <mat-form-field>
    <mat-label for="gameName">Tytuł</mat-label>
    <input
      class="formControl"
      matInput
      type="text"
      id="gameName"
      name="name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="description">Opis</mat-label>
    <input
      class="formControl"
      matInput
      type="text"
      id="description"
      name="desc"
      formControlName="description"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="author">Autor</mat-label>
    <input
      class="formControl"
      matInput
      type="text"
      id="author"
      name="author"
      formControlName="author"
    />
  </mat-form-field>

  <mat-form-field>
    <mat-label for="releaseDate">Data wydania</mat-label>
    <input
      class="formControl"
      matInput
      type="text"
      id="releaseDate"
      name="releaseDate"
      formControlName="releaseDate"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="link">Link</mat-label>
    <input
      class="formControl"
      matInput
      type="text"
      id="link"
      name="link"
      formControlName="steamLink"
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label for="review">Opinie</mat-label>
    <input
      class="formControl"
      matInput
      type="text"
      id="review"
      name="review"
      formControlName="review"
    />
  </mat-form-field>
</form>

<mat-chip-listbox selectable multiple>
  <mat-chip-option
    *ngFor="let genre of genres"
    id="{{ genre.name }}"
    (click)="selected(genre.name)"
  >
    {{ genre.name }}</mat-chip-option
  >
</mat-chip-listbox>
<button
  mat-raised-button
  color="primary"
  type="submit"
  (click)="add(form)"
  [disabled]="form.invalid"
>
  Add
</button>
