<table
  [dataSource]="data"
  mat-table
  class="full-width-table"
  aria-label="Elements"
  *ngIf="data"
>
  <ng-container matColumnDef="ID">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
    <td mat-cell *matCellDef="let i = index">{{ i + 1 }}</td>
  </ng-container>

  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Tytuł</th>
    <td mat-cell *matCellDef="let row">{{ row.name }}</td>
  </ng-container>

  <!-- <ng-container matColumnDef="distance">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>
      Odległość(im gra jest bardziej podobna tym odległość jest mniejsza)
    </th>
    <td mat-cell *matCellDef="let row">
      {{ row.compatibility }}
    </td>
  </ng-container> -->

  <ng-container matColumnDef="similarity">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Podobieństwo</th>
    <td mat-cell *matCellDef="let row">
      {{ 1 - row.compatibility | percent }}
    </td>
  </ng-container>

  <ng-container matColumnDef="review">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>Opinie</th>
    <td mat-cell *matCellDef="let row">
      {{ row.review }}
    </td>
  </ng-container>

  <ng-container *ngIf="role != ''" matColumnDef="addGame">
    <th mat-header-cell *matHeaderCellDef>Dodaj do ulubionych</th>
    <td mat-cell *matCellDef="let row; let i = index">
      <button
        class="button"
        mat-button
        mat-raised-button
        color="primary"
        (click)="add(i)"
      >
        Dodaj
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="share">
    <th mat-header-cell *matHeaderCellDef>Opublikuj</th>
    <td mat-cell *matCellDef="let row">
      <share-button
        button="whatsapp"
        [showText]="true"
        description="{{ row.info }}"
        [url]="'http://localhost:4200/games'"
      ></share-button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
<div class="gameRecommendation">
  <form [formGroup]="gamesForm">
    <mat-form-field>
      <mat-label>Limit gier</mat-label>
      <input
        matInput
        type="number"
        formControlName="limit"
        placeholder="Limit"
      />
    </mat-form-field>

    <mat-chip-listbox selectable multiple>
      <mat-chip-option
        *ngFor="let genre of genres"
        id="{{ genre.name }}"
        (click)="recommendGamesByGenres(genre.name)"
      >
        {{ genre.name }}</mat-chip-option
      >
    </mat-chip-listbox>

    <button
      [disabled]="gamesForm.invalid"
      type="submit"
      mat-raised-button
      color="primary"
      (click)="recommend()"
    >
      Rekomenduj
    </button>
  </form>
</div>
