<form [formGroup]="form">
  <mat-form-field>
    <label for="loginName">Login</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="loginName"
      name="login"
      formControlName="login"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="loginPassword">Hasło</label>
    <input
      class="formControl"
      matInput
      type="password"
      id="loginPassword"
      name="password"
      formControlName="password"
    />
  </mat-form-field>
  <button
    mat-raised-button
    color="primary"
    type="submit"
    (click)="Login()"
    [disabled]="form.invalid"
  >
    Login
  </button>
</form>
