<form [formGroup]="form">
  <mat-form-field>
    <label for="name">Imię</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="Name"
      name="name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="lastName">Nazwisko</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="LastName"
      name="lastName"
      formControlName="lastName"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="login">Login</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="login"
      name="login"
      formControlName="login"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="password">Hasło</label>
    <input
      class="formControl"
      matInput
      type="password"
      id="password"
      name="password"
      formControlName="password"
    />
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit" (click)="Register()" [disabled]="form.invalid">
    Register
  </button>
</form>
