<form [formGroup]="form">
  <mat-form-field>
    <label for="gameName">GameName</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="gameName"
      name="name"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="description">Description</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="description"
      name="desc"
      formControlName="description"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="author">Author</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="author"
      name="author"
      formControlName="author"
    />
  </mat-form-field>

  <mat-form-field>
    <label for="releaseDate">Release date</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="releaseDate"
      name="releaseDate"
      formControlName="releaseDate"
    />
  </mat-form-field>
  <mat-form-field>
    <label for="link">Link</label>
    <input
      class="formControl"
      matInput
      type="text"
      id="link"
      name="link"
      formControlName="steamLink"
    />
  </mat-form-field>
</form>

<mat-chip-listbox selectable multiple>
  <mat-chip-option
    *ngFor="let genre of genres"
    id="{{ genre.name }}"
    (click)="selected(genre.name)"
  >
    {{ genre.name }}</mat-chip-option
  >
</mat-chip-listbox>
<button mat-raised-button color="primary" type="submit" (click)="edit(form)">
  Edit
</button>
