<div class="mat-elevation-z8">
  <table>
    <tr *ngFor="let data of dataSource">
      <th>ID : {{ data.id }}</th>
      <th>Tytuł: {{ data.name }}</th>
      <th>Author: {{ data.author }}</th>
      <th>Data wydania: {{ data.releaseDate }}</th>
      <th>Opis: {{ data.description }}</th>
      <th *ngFor="let genre of data.genre">Kategorie: {{ genre.name }}</th>
      <th>
        Link:
        <a
          href="{{ data.steamLink }}"
          target="_blank"
          rel="noopener noreferrer"
          >{{ data.steamLink }}</a
        >
      </th>
      <th></th>
    </tr>
  </table>
</div>
